%h1 Was ist Demowatch?

%h2 Problem
.indent 
  Mir geht es oft so, dass ich von politischen Demonstrationen zu für mich 
  interessanten Themen erst in den Nachrichten höre, wenn Sie schon vorbei 
  sind.

%h2 These
.indent
  Die Demonstrationen der verschiedensten Orgranisationen werden im Internet 
  bisher nur dezentral annonciert. Dadurch fällt es extrem schwer, dem aktuellen 
  Angebot an öffentlichen Demonstrationen zu folgen.

%h2 Lösung
.indent
  Ein unabhängiges, zentrales Register für Demonstrationen einführen.

%h2 Ziel
.indent
  Demonstrationen zugänglicher für jederman machen.

%h2 Idee
.indent
  Eine Website bauen und betreiben, auf der Demonstrationen 
  announciert werden können. Interessierte Bürger können 
  Themengebiete abonnieren und werden über anstehende 
  Veranstaltungen in der Nähe automatisch informiert.

%h2 Vision
.indent
  Ich habe mir im Zuge der Finanzkrise, viel über unsere 
  Demokratie nachgedacht. Teilweise spricht man in der 
  Öffentlichkeit über die "Demokratiegefährdung" durch die 
  Finanzkrise. Eine funktionierende und starke Demokratie 
  braucht meines Erachtens ein Volk, das seine Möglichkeiten 
  zur Teilnahme maximal ausnutzt. Ich sehe darum hier eine 
  Chance im digitalen Zeitalter im Internet eine Plattform 
  zu etablieren, die einen Beitrag zur besseren 
  Bürgerbeteiligung liefern kann. 

%h3. Berlin, den 22.10.2008 - Patrick Hoffmann

