%h1 Was ist Demowatch?

%h3 Mit <i>Demowatch.de</i> nie mehr eine Demo verpassen!
.q Ist es Ihnen nicht auch schon mal so ergangen: Sie würde sich gern für bestimmte gesellschaftliche oder politische Themen einsetzen, aber schaffen es einfach nie auf eine Demonstration zu gehen? 
%h3 Woran liegt das?
.q Wir von <i>Demowatch.de</i> haben erkannt, dass ein großes Problem schon darin besteht, von einer Demonstration zu erfahren, bevor diese stattfindet. Es gibt im Internet zwar viele Webseiten von vielen Organisationen, die wiederum viele Aktionen durchführen. Aber wer kennt die schon alle? Und wer hat überhaupt die Zeit, sich auf all diesen Webseiten ständig über neue Aktionen zu informieren? 
%h3 Wir jedenfalls nicht!
.q Deshalb haben wir <i>Demowatch.de</i> entwickelt. <i>Demowatch.de</i> ist eine neue Webseite, die es sich zur Aufgabe macht, politische Demonstrationen zentral für jedermann schnell und einfach zugänglich zu machen. Das Prinzip von <i>Demowatch.de</i> ist simpel: Sie können sich schon auf unserer Startseite einen Überblick über die zur Zeit relevanten Themen verschaffen. Eine sogenannte "tag cloud" hebt populäre Themen hervor. 
%h3 Aber wir wollen noch mehr
.q Da die Interessen sicher genauso individuell, wie die Menschen selbst sind, können Sie sich bei uns Ihr persönliches Themenrepertoire zusammenstellen. Sie werden dann per E-Mail automatisch über neue Aktionen zu diesen Themen informiert.
.q Wenn Sie sich vornehmen an einer Demonstration teilzunehmen, dann abonnieren Sie diese einfach auf <i>Demowatch.de</i>. Dadurch werden Sie rechtzeitig an den Termin erinnert und werden über jegliche Neuigkeiten informiert.
%h3 Seriösität 
.q Da wir unsere Benutzer seriös informieren möchten, achten wir auf brauchbare Inhalte. Um eine Demonstration bei <i>Demowatch.de</i> einzutragen, muss man sich anmelden und den Initiator der Demonstration in unsere Datenbank eintragen. Wir haben uns vorgenommen, alle Initiativen zu überprüfen. Dazu fragen wir an, ob der eingetragene Benutzer berechtigt ist, Demonstrationen für eine Organisation einzutragen und klären, ob es sich um eine verfassungsrechtlich unbedenkliche Organisation handelt.
%h3 Anonymität
.q Auf der anderen Seite veröffentlichen wir von unseren Besuchern keinerlei Daten. Der Benutzer bleibt auf <i>Demowatch.de</i> anonym. Zur Zeit hinterlässt er bei der Registrierung lediglich seine EMailadresse, damit der Erinnerungsdienst funktioniert und die ersten Stellen seiner Postleitzahl, damit wir Veranstaltungen in seiner Nähe finden können.
%h3 Unser Motto:
.q
  %b Ab heute gilt die Ausrede "Hätte ich davon gehört, wäre ich dabei gewesen!" nicht mehr! Werden Sie aktiv und bleiben Sie demokratisch!
