:textile
  h1. Impressum

  h2. Kontakt

  info@demowatch.de

  h2. Mitwirkende

  h3. Idee & Leitung

  "Patrick Hoffmann":mailto:p.hoffmann@demowatch.de

  h3. Medienarbeit

  "Wolfgang Eitel":mailto:w.eitel@demowatch.de

  h3. Programmierung

  "Simon Kr&ouml;ger":mailto:s.kroeger@demowatch.de
  "Marc Christenfeldt":mailto:m.christenfeldt@demowatch.de

  h2. Verantwortlich laut Telemediengesetz

  Patrick Hoffmann
  Ruppiner Str. 5
  10115 Berlin

  p.hoffmann@demowatch.de

  h2. Verwendete Techniken

  Diese Website wurde mit folgenden Techniken erstellt:  

  p=. !/images/rails.png! !/images/ubuntu.png! !/images/mysql.png!
