:textile
  h1. Impressum

  h2. Anbieter:

  *Max Mustermann*
  Musterstraße 12
  12345 Berlin

  h2. Kontakt:

  |Telefon:|030/12345678|
  |Telefax:|030/12345679|
  |e-Mail:|e-Mail@mustermann.de|
  |Website:|www.mustermann.de|

  h2. Verantwortlich nach § 6 Abs.2 MDStV

  Paul Schreiber
  Redakteur „Hardware und Software“
  Ahornallee 1
  12345 Berlin

  |Registergericht:|AG Berlin|
  |HRB-Nummer:|54321|
  |Umsatzsteueridentifikationsnummer:|123456789|
  