%h1 Themen, zu denen demonstriert wird...

.contextmenu
  = link_to 'Nur Demothemen', :event_cloud
  |
  = link_to 'Alle Themen', :all_cloud
%br
.cloud
  - tag_cloud @tags, %w(css0 css1 css2 css3 css4), current_user do |tag, css_class| 
    = link_to h( tag.name), { :controller=>:tag, :action => tag.name }, :class => css_class
    