%h1 Themen, zu denen demonstriert wird...

.cloud
  - tag_cloud @tags, %w(css0 css1 css2 css3 css4), current_user do |tag, css_class| 
    = link_to tag.name, tag, :class => css_class
    
%br
.contextmenu
  = link_to 'Demothemen', :front
  |
  = link_to 'Alle Themen', :all_cloud
      