%h1 Themen, zu denen demonstriert wird...

.cloud
  - tag_cloud @tags, %w(css0 css1 css2 css3 css4), current_user do |tag, css_class| 
    = link_to tag.name, { :action => :show, :id => tag.id }, :class => css_class
