
%h1 Eintragen neuer Demonstrationen

%h2 Bitte lesen!
.q Wenn Sie neue Demonstrationen bei demowatch.de eintragen wollen, dann lesen Sie sich diesen Text hier bitte gut durch, damit Sie verstehen, wie demowatch.de überhaupt funktioniert:
  
%h2 Nur registrierte Benutzer können Demos eintragen

.q 
  %b Wer hier eine Demo eintragen will, muss sich bei Demowatch.de registrieren und eine gültige E-Mailadresse angeben!

%h2 Keine Demo ohne Initiator

.q Ist man registriert, kann man einen oder mehrere Initiatoren eingeben, unter deren Namen man dann zu Demos aufrufen kann.
  
.q Trägt ein Benutzer einen neuen Initiator ein, überprüft das Demowatch-Team umgehend durch Rückfrage beim Initiator, ob der Benutzer authorisiert ist, unter diesem Namen neue Demos einzutragen. 
.q
  %b Falsche Weblinks und ungültige E-Mailadressen, machen es uns unmöglich Rückfragen zu stellen und führen ggf. zur Löschung der betroffenen Einträge!

.q Durch den Kniff mit den Initiatoren bleiben Benutzer, die Demos veröffentlichen für alle anderen anonym. Lediglich der eingetragene Initiator wird genannt und kann mit der Demo in Verbindung gebracht werden.

%h2 Wer ist berechtigt Demos einzutragen?

.q Im Prinzip kann jeder wie oben beschrieben Demos eintragen. Durch die Rückfrage beim Initiator wollen wir sicherstellen, dass in dessen Namen keine falschen Angaben gemacht werden. 

.q Am liebsten wäre es uns, wenn jeder Initator seine Demos selber eingibt. Ist ein Initiator nicht dazu bereit, dann berechtigen auch Außenstehende dazu Aufrufe zu tätigen soweit sich niemand über falsche Inhalte begründet beschwert.

%h2 Nun also los...

.q 
  Erst
  = link_to 'als Benutzer registrieren', login_path
  , dann
  = link_to 'Initator eingeben', new_organisation_path
  und 
  = link_to 'neue Demos eintragen!', new_event_path 

.q
  Viel Erfolg und danke für Eure Teilnahme bei demowatch.de!