
%h1 Eintragen neuer Demonstrationen

%h2 Nur registrierte Benutzer können Demos eintragen

.q 
  Wer hier eine Demo eintragen will, muss sich bei Demowatch.de registrieren und eine gültige E-Mailadresse angeben. 
  %b E-Mailadressen von Benutzern werden nicht veröffentlicht oder an Dritte weitergegeben. 
  Sie dienen uns lediglich dazu, Rückfragen stellen zu können.
  
.q Trägt ein Benutzer einen neuen Initiator oder eine neue Demo ein, überprüft das Demowatch-Team anhand der eingegebenen Links, ob die eingegebenen Informationen brauchbar sind. Sinnlose oder unvollständige Daten werden ggf. gelöscht.

%h2 Wer ist berechtigt Demos einzutragen?

.q Jeder kann bei Demowatch Initiatoren Demos eintragen. 

%h2 Nun also los...

.q 
  Erst
  = link_to 'als Benutzer registrieren', login_path
  , dann ggf.
  = link_to 'Initator eingeben', new_organisation_path
  und 
  = link_to 'neue Demos eintragen!', new_event_path 

.q
  Wir wünschen Euch Viel Erfolg für Eure Aktionen und danken Euch für Eure Teilnahme bei demowatch.de!