%h1 Initiator bearbeiten

.contextmenu
  = link_to 'Anzeigen', @organisation  
  |
  = link_to 'Zurück zu den Initiatoren', organisations_path

- form_for(@organisation) do |f| 
  = render :partial => 'fields', :locals => {:f => f}
  .buttons= f.submit "Speichern"

