%h1 Veranstalter bearbeiten

- form_for(@organisation) do |f| 
  = render :partial => 'fields', :locals => {:f => f}

  = f.submit "Speichern"

= link_to 'Anzeigen', @organisation  
|
= link_to 'Zurück', organisations_path
