%h1 Initiator bearbeiten

- form_for(@organisation) do |f| 
  %h2 Daten
  %p
    = render :partial => 'fields', :locals => {:f => f}
    .buttons= f.submit "Speichern"

.contextmenu
  = link_to 'Anzeigen', @organisation  
  |
  = link_to 'Zurück zu den Initiatoren', organisations_path
