%h1 Initiatoren

%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %tr
    %th Initiator
    %th Letzte Demo
    %th N&auml;chste Demo
  - @organisations.each_with_index do |organisation, index|
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to organisation.title, organisation 
      %td 
      %td 

%br

- if logged_in? 
  .contextmenu
    = link_to 'Neuer Initiator', new_organisation_path
