%h1 Veranstalter

%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %th
    %td Anstehende Demos
    %td Vergangene Demos
  - @organisations.each_with_index do |organisation, index|
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to organisation.title, organisation 
      %td 
      %td 

%br

= link_to 'Neue Organisation', new_organisation_path
