%h1 Neuer Initiator
.contextmenu
  = link_to 'Zurück zur Liste der Initiatoren', organisations_path 
%br

- form_for(@organisation) do |f| 
  = render :partial => 'fields', :locals => {:f => f}

  .buttons=f.submit "Erzeugen" 
