%h1 Neue Initiative

- form_for(@organisation) do |f| 
  %p= render :partial => 'fields', :locals => {:f => f}

  %p=f.submit "Erzeugen" 

.contextmenu
  = link_to 'Zurück zur Liste der Initiativen', organisations_path 
