%h1 Neuer Initiator
%p Damit wir Eure Demonstrationen auf <i>Demowatch</i> listen k&ouml;nnen, m&uuml;ss ein Initiator eingetragen werden, der den Eintrag verantwortet. Die hier eingegebenen Daten werden von uns auf Korrektheit gepr&uuml;ft.

- form_for(@organisation) do |f| 
  = render :partial => 'fields', :locals => {:f => f}

  =f.submit "Erzeugen" 

.contextmenu
  = link_to 'Zurück zur Liste der Initiatoren', organisations_path 
