
body {
	font-size: .9em;
	font-family: Georgia, Helvetica, sans-serif; 
  background: #c8dbf1 url(/images/gradient.gif) repeat-x; 	
}

p {
/* das hier stört beim TinyMCE
	margin-left:2em; 
*/
}

textarea {
	width:550px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

h1 {
	font: italic 1.8em Georgia;
	text-align: center;
}

h2 {
	font: bold 1.2em Lucida Sans, Arial, Helvetica, sans-serif;
	color: #276cba;
}

h3 {
	font: italic 1.1em Georgia, Courier New;
	margin-left: 0.9em;
}

small {
	font-size: 0.7em;
	color: #276cba;
}

.rss {
	float: right;
}

.views {
	width: 650px;
	margin: auto;
	text-align: center;
}

#header {
	padding: 10px;
}

#header a {
	color: white;
	font: normal 1.0em Lucida Sans, sans serif;
}

#header img, #footer img {
	display: block;
	margin: auto;
	border: none;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	color: #276cba;
}

#footer a {
	color: #276cba;
}

#header ul {
	text-align: center;
	list-style-type: none;
	margin: 20px 0 0px;
	padding: 0;
	font-size:small;
	font-weight:bold;	
}
#header ul li {
	display: inline;
	border-right: solid white 1px;
	padding: 0 10px;
}

#header ul li.last {
	border-right: none;
}

.balloon  {
	width: 650px;
	background: transparent;
	margin: auto;
}

.balloon .title {
	padding: 0px 31px 0px 31px;
	background: transparent url(/images/balloon.gif) no-repeat top left;
	height: 31px;
}

.balloon .body {
	padding: 1px 31px 28px 31px;
	background: white;
	min-height: 40px;
	line-height: 1.4em;
}

.balloon .bottom {
	padding: 0px 31px 0px 31px;
	background: transparent url(/images/balloon.gif) no-repeat bottom left;
	height: 31px;
}

.message {
  font: bold 1.3em Lucida Sans, Arial, sans serif;
	color: #276cba;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.disclaimer {
	font-family: Arial, Helvetica;
	font-size: .6em;
	line-height: 9px;
	text-align: justify;
}

.contextmenu {
  border-top: 1px solid #c8dbf1;
  border-bottom: 1px solid #c8dbf1;
  text-align: center;
}

form label {
	display: block;
}

form input {
	display: block;
	margin-bottom: 5px;
}

.buttons {
	margin-top:1em;
	margin-left:2em;
}

.checkboxlabel {
	float:right;
}

.tabletitle {
	text-align: center;
	padding: 0px 0px 20px
}

table  {
	width: 590px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

table tr th {
	font-weight: normal;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 5px;
	font-style: italic;
}

table tr td {
	padding: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	vertical-align: top;
}

table tr.even {
	background: #c8dbf1;
}

table tr.old td {
	color: gray;
        border-left: solid 1px black
}

table tr.old td a {
	color: gray;
}

table tr.cur td {
  color: red;
  border-left: solid 1px black;
  font-weight: bold;
}

table tr.cur td a {
	color: red;
  font-weight: bold;
}

/* ***************** word cloud ***************** */

.css0 { font-size: 0.8em; color: #888 }
.css1 { font-size: 1.0em; color: #666 }
.css2 { font-size: 1.2em; color: #444 }
.css3 { font-size: 1.4em; color: #222 }
.css4 { font-size: 1.6em; color: #000 }

.css0.usertag { font-size: 0.8em; color: #A4C6EC; }
.css1.usertag { font-size: 1.0em; color: #7DAEE3; }
.css2.usertag { font-size: 1.2em; color: #5E9ADD; }
.css3.usertag { font-size: 1.4em; color: #3A84D6; }
.css4.usertag { font-size: 1.6em; color: #276cba; }

.cloud {
  text-align: center;
}

.cloud a {
  white-space: nowrap;
}

/* ***************** auto complete ***************** */

.auto_complete {
	position:absolute;
	cursor:pointer;
	width:250px;
	background-color:white;
	border:1px solid #888;
	margin:0;
	padding:0;
}

.auto_complete ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
    
.auto_complete ul li {
	list-style-type: none;
	display:block;
	margin:0;
	padding:2px;
	height:16px;
}

.auto_complete ul li.selected { 
	background-color: #c8dbf1;
}

/* ***************** Menu ***************** */
/* ******** see www.cssplay.co.uk ********* */

.tabs ul {margin:0; padding:0; list-style-type:none; background:transparent; height:23px;}
.tabs li {display:block; float:left; margin-left:6px}
.tabs {display:block; position:relative; background:transparent; padding:0; margin:auto; width:336px}

.xsnazzy {background:transparent;}
.xsnazzy span {text-align:center; color:#000; margin:0; font-weight:normal; padding-bottom:2px;}

.xtop {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {
display:block; 
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ 
}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#c8dbf1; border-left:1px solid #fff; border-right:1px solid #fff;}
.xb1 {margin:0 5px; background:#fff;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.xboxcontent {display:block; background:#c8dbf1; border:0 solid #fff; border-width:0 1px 1px 1px;}

a.xmenu2, a.xmenu2:visited {display:block; text-decoration:none; width:100px; font-size:0.9em;}
a.xmenu2:hover {background:transparent; cursor:pointer;}
a.xmenu2:hover span {color:#000;}
a.xmenu2:hover .xboxcontent {background:#e9f1fa; border-color:#fff; border-bottom:1px solid #fff;}
a.xmenu2:hover .xb1 {background:#e9f1fa;}
a.xmenu2:hover .xb2, a.xmenu2:hover .xb3, a.xmenu2:hover .xb4 {background:#e9f1fa; border-color:#fff;}

a.xmenu2.selected {background:transparent; cursor:pointer;}
a.xmenu2.selected span {color:#000;}
a.xmenu2.selected .xboxcontent {background:#fff; border-color:#fff; border-bottom:1px solid #fff;}
a.xmenu2.selected .xb1 {background:#fff;}
a.xmenu2.selected .xb2, a.xmenu2.selected .xb3, a.xmenu2.selected .xb4 {background:#fff; border-color:#fff;}

.xboxcontentd {display:block; background:#fff; border:0 solid #fff; border-width:1px 1px 0 1px; padding-top:5px;}
a.xmenu2:hover .xboxcontentd {background:#fff; border-color:#888; border-top:1px solid #fff;}

/* ***************** Error ***************** */

.errorExplanation li {
	color: red;
}

.errorExplanation h2 {
	color: red;
}
	
.fieldWithErrors {

}

.fieldWithErrors span {
	background:#fdd;
	margin-bottom:20px;
}

.fieldWithErrors input {
	border-left-color: red; border-left-style: double; border-left-width: 2px;
	border-top-color: red; border-top-style: double; border-top-width: 2px;
	border-right-color: red; border-right-style: double; border-right-width: 2px;
	border-bottom-color: red;border-bottom-style: double; border-bottom-width: 2px;
	background-color: mistyrose;
 	font-weight: bold;
  	padding-left: 3px;
}

.indent, .q {
	margin-left:2em;
}

.q {
	margin-bottom:.5em
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.red {
	font-weight: bold;
	color: red;	
}

.red  a{
	font-weight: bold;
	color: red;	
}
