%h1 Demonstrationen

%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %th
    %td Termin 
    %td Teilnehmer
  - @events.each_with_index do |event, index|
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to event.title, event
      %td
      %td

%br

= link_to 'Neue Demonstration', new_event_path
