%h1 Neue Demonstration

.contextmenu
  = link_to 'Zur&uuml;ck zur Liste der Demonstrationen', events_path 

- form_for(@event, :html => { :onSubmit => 'return geocodeAddress(event_zip);' }) do |f|
  = render :partial => 'fields', :locals => {:f => f}
  .buttons= f.submit "Erzeugen"

= auto_complete_field 'event_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
