!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  
    -#%title= page_title
    = javascript_include_tag :all
    = stylesheet_link_tag :all
    
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
  %body
    -#= render :partial => "shared/messages"
    #header
      =link_to image_tag('demowatch.png'), :front
      %ul
        %li=link_to 'Was ist Demowatch?', :what
        %li=link_to 'Veranstaltungen', :controller => 'events' 
        %li=link_to 'Organisationen', :controller => 'organisations' 
        -if logged_in?
          %li=link_to 'Abmelden', :logout
        -else
          %li=link_to 'Anmelden', :login
          %li=link_to 'Registrieren', :signup
        %li.last=link_to 'Impressum', :impressum
        
    .cloud
      .title=flash[:notice]
      .body
        = @content_for_layout
        
    #footer
      =image_tag 'people.png'
